@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    h1, h2, h3 {
        margin: 0;
    };
    ul {
        margin: 0;
        padding: 0;
    }
};

@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';

@import 'blocks/container';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/loft';
@import 'blocks/form';
@import 'blocks/watch';
@import 'blocks/video';
@import 'blocks/map';
@import 'blocks/questions';
@import 'blocks/footer';

@import 'blocks/media';